<a href="https://colab.research.google.com/github/kavivarshini25/Kavivarshini_INFO5731_FALL2025/blob/main/Week_2_Code_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comments

How to write comments?

In [1]:
#This is a comment
print("Hello, World!")

Hello, World!

In [2]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# Bitwise Operators

In [1]:
a = 11
b = 3

"""
a = 11: In binary, 11 is 1011.
b = 3:   In binary, 3 is 0011.
"""

print("a&b is", a&b)  # Sets each bit to 1 if both bits are 1
print("a|b is", a|b)  # Sets each bit to 1 if one of two bits is 1
print("a^b is", a^b)  # If the two corresponding bits are different, the result is 1; if they are the same, the result is 0.
print("a<<b is", a<<b) # Shift left by pushing zeros in from the right and let the leftmost bits fall off
print("a>>b is", a>>b) # Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

a&b is 3
a|b is 11
a^b is 8
a<<b is 88
a>>b is 1

# For loops

In [6]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [3]:
# break statement

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [7]:
# continue statement

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [8]:
# Pass statement
# It is a null operationâ€”nothing happens when it executes (placeholder)

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        pass
    print(x)

apple
banana
cherry

# While loop

In [9]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [10]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

# Lists
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets

In [11]:
# Index

my_list = [1, 2, 3, "apple", "banana", True]

print(my_list[0])  # Output: 1
print(my_list[3])  # Output: "apple"

1
apple

In [12]:
# Range of indexes

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [13]:
# Specify negative indexes if you want to start the search from the end of the list:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [14]:
# Add an element to a list

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [15]:
# Add an element to a list with index

thislist = ["apple", "banana", "cherry"]

thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [16]:
# The remove() method removes the specified item.

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [17]:
# The pop() method removes the specified index.

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'cherry']
['apple', 'banana']

In [18]:
# reverse a list

lst = [10, 11, 12, 13, 14, 15]
reversed_list = lst[::-1]
reversed_list

[15, 14, 13, 12, 11, 10]

In [19]:
# list slicing to select elements from the list with a step of 2/take every second element

lst = [10, 11, 12, 13, 14, 15]
lst[::2]

[10, 12, 14]

In [20]:
# sort the elements in a list

lst = [15, 11, 13, 12, 18, 7]
lst.sort()
print(lst)

[7, 11, 12, 13, 15, 18]

In [21]:
# sort the elements in a list in descending order

lst = [15, 11, 13, 12, 18, 7]
lst.sort(reverse=True) # Descending Order
print(lst)

[18, 15, 13, 12, 11, 7]

# List comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
# if-else in list comprehension

newlist = [x if x != "banana" else "orange" for x in fruits]
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

# Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

Allow Duplicates

In [ ]:
mytuple = ("apple", "banana", "cherry")

# Accessing tuple values

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

# Update values of tuple

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x) # converting tuple to a list
y[1] = "kiwi"
x = tuple(y)

print(x)
print(y)

('apple', 'kiwi', 'cherry')
['apple', 'kiwi', 'cherry']

# Sets in python
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [ ]:
# add elements in set

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'orange', 'cherry', 'apple'}

In [ ]:
# To remove an item in a set, use the remove()

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [ ]:
# Remove the last item by using the pop() method

thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

banana
{'cherry', 'apple'}

In [ ]:
# get unique elements in a list

sample = [1,1,1,1,2,2,3,3,3,3,4,5]
set1 = set(sample)
unique = list(set1)
unique

[1, 2, 3, 4, 5]

# Dictionaries in python
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [ ]:
# Adding an item to the dictionary is done by using a new index key and assigning a value to it


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
# The pop() method removes the item with the specified key name

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
# get keys, values, items

sample_dict = {'a': 100, 'b':200, 'c':300}

print(sample_dict.keys())
print(sample_dict.values())
print(sample_dict.items())

dict_keys(['a', 'b', 'c'])
dict_values([100, 200, 300])
dict_items([('a', 100), ('b', 200), ('c', 300)])

# Dictionaries comprehension

In [ ]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Nesting with Dictionaries

In [ ]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

d['key1']['nestkey']['subnestkey']

'value'

# Lambda function

In [ ]:
# Lambda function with if but without else.
square = lambda x : x*x if (x > 0) else None

print(square(6))

36

In [ ]:
# Example of lambda function using if-else
max = lambda a, b : a if(a > b) else b

print(max(1, 2))
print(max(10, 2))

2
10

# Factorial of a number

In [ ]:
# To find the factorial of a given number

def factorial(n):
    if n < 0:
        return 0
    elif n == 0 or n == 1:
        return 1
    else:
        fact = 1
        while(n > 1):
            fact *= n
            n -= 1
            #print(fact)
            #if you want to see the result after each step
        return fact

# Example of 5!
num = 5;
print("Factorial of", num,"is", factorial(num))

# This code is contributed by Dharmik Thakkar

Factorial of 5 is 120

In [ ]:
def factorial(n):
    if n < 0:
        return 0
    elif n == 0 or n == 1:
        return 1
    else:
        result = n * factorial(n - 1)
        #print(result)
        return result

# Example of 5!
num = 5;
print("Factorial of", num,"is", factorial(num))

Factorial of 5 is 120

# Fibonacci number

In [ ]:
# Function for nth Fibonacci number
# Sequence: 0, 1, 1, 2, 3, 5, 8, 13

def Fibonacci(n):
    if n<= 0:
        print("Incorrect input")
    # First Fibonacci number is 0
    elif n == 1:
        return 0
    # Second Fibonacci number is 1
    elif n == 2:
        return 1
    else:
        return Fibonacci(n-1)+Fibonacci(n-2)


print(Fibonacci(10))

34

# Prime number

In [ ]:
def is_prime(n):
    # A prime number is greater than 1 and divisible only by 1 and itself
    if n <= 1:
        return False
    # Check divisibility from 2 to the square root of n
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Example:
number = 29
result = is_prime(number)
if result:
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

29 is a prime number.

# Practice Questions

# Q1.) What is the output of the following code??

In [ ]:
print(9/2)

In [ ]:
print(int(9/2))

# Q2.) What will be the output of the following code snippet?

In [ ]:
def func():
   global value
   value = "Local"

value = "Global"
func()
print(value)

# Q3.) Short Circuiting

What is the output of the following programs?

In [ ]:
l = [1, 2, 3]

exp = ((1 == 0) and (l.append(4)))
print(l)

Tip: If the first condition is False, Python does not evaluate the second condition, because the entire "and" expression will be False regardless of the second condition.

In [ ]:
l = [1, 2, 3]

exp = ((1 != 0) or (l.append(4)))
print(l)

Tip: If the first condition is True, Python does not evaluate the second condition, because the entire "or" expression will be True regardless of the second condition.

# Q4.) What is the python statement that will result output 6?

In [ ]:
A = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

'''
a) A[2][1]
b) A[1][2]
c) A[3][2]
d) A[2][3]

'''

# Q5.)

Which method is best to use when adding an item to the end of a list?

A. .insert()\
B. .pop()\
C. .append()\
D. .remove()

# Q6.) What will be the output of the following code snippet?

In [ ]:
a = [1, 2, 3]
a = tuple(a)
a[0] = 2
print(a)

# Q7.) How to get the unique elements from a list?
sample = [1,1,1,1,2,2,3,3,3,3,4,5]

In [ ]:
sample = [1,1,1,1,2,2,3,3,3,3,4,5]
set1 = set(sample)
unique = list(set1)
unique